view,
text,
button,
checkbox,
input,
checkbox-group,
label,
picker,
picker-view,
editor,
form,
picker-view-column,
radio,
radio-group,
slider,
switch,
textarea,
cover-image,
cover-view,
movable-area,
movable-view,
scroll-view,
swiper,
swiper-item,
icon,
progress,
rich-text,
navigator,
navigator-bar,
audio,
camera,
image,
live-player,
live-pusher,
video,
canvas,
map {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
